<div class="totm-manager tab-content" data-tab="effects">

  <h3 class="totm-manager section-header">Select Target & Effect</h3>
  
  <div class="totm-manager dropdown-container" style="display: flex; gap: 10px; align-items: center;">
    <div style="flex-grow: 1;">
      <select id="target-dropdown" style="width: 100%;">
        <option value="tile">Tile</option>
        <option value="image">Image</option>
      </select>
    </div>
    <div id="tile-selection" style="flex-grow: 1;">
      <select id="tile-dropdown" style="width: 100%;"></select>
    </div>
    <div id="image-selection" style="display: none; flex-grow: 1;">
      <select id="image-dropdown" style="width: 100%;"></select>
    </div>
  </div>

  <div id="effect-selection" class="totm-manager dropdown-container" style="display: flex; gap: 10px; align-items: center; margin-top: 10px;">
    <div style="flex-grow: 1;">
      <select id="effect-dropdown" style="width: 100%;"></select>
    </div>
    <button id="add-effect-button" class="totm-manager effect-button"><i class="totm-manager fas fa-plus"></i></button>
  </div>

  <h3 class="totm-manager section-header">Current Effects</h3>
  
  <div id="current-effects-container">
    {{#each effects as |effect index|}}
    <div class="totm-manager effect-item" data-order="{{effect.order}}">
      <span id="current-target" class="totm-manager effect-target-type" data-index="{{index}}">
        {{{ifThen (eq effect.targetType 'Tile') '<i class="totm-manager fas fa-cubes"></i>' '<i class="totm-manager fas fa-image"></i>'}}}
      </span>
      <span id="current-name" class="totm-manager effect-target-name" data-index="{{index}}">{{effect.targetName}}</span>
      <span id="current-effect" class="totm-manager effect-name" data-index="{{index}}">{{effect.name}}</span>
      {{! <button id="modify-effect-button" class="totm-manager effect-button"><i class="totm-manager fas fa-palette"></i></button> }}
      <button type="button" id="remove-effect-button" class="totm-manager effect-button" data-order="{{effect.order}}"><i class="totm-manager fas fa-trash"></i></button>
    </div>
    {{/each}}
  </div>

</div>

