<!-- Navigation & Add Image button -->
<div class="totm-manager add-image-container">
  <div class="totm-manager form-group" style=
    "display: flex; align-items: center;">
    <p style="margin-right: 12px;">Media</p>
    <a class="totm-manager add-image" style="margin-right: 12px;"><i class="totm-manager fas fa-plus"></i>Add</a>
    <button type="button" class="totm-manager add-image" style="display: none;"></button>
    <a class="totm-manager add-folder" style="margin-right: 12px;"><i class="totm-manager fas fa-folder"></i>Folder</a>
    <button type="button" class="totm-manager add-folder" style="display: none;"></button>
  </div>
  <div class="totm-manager form-group" style="display: flex; align-items: center;">
    <a class="totm-manager prev-image" style="margin-left: 12px;"><i class="totm-manager fas fa-arrow-left"></i></a>
    <a class="totm-manager next-image" style="margin-left: 12px;"><i class="totm-manager fas fa-arrow-right"></i></a>
  </div>
</div>


<!-- Image search -->
<div id="search-container" style="width: 100%">
  <input type="text" id="image-search-bar" placeholder="Search by name or tag...">
  <div id="search-results"></div>
</div>


<!-- Image list and editing controls -->
    <div class="totm-manager form-group" style="overflow-y: auto;">
  {{#unless isEmpty}}
    <ul id="image-path-list" class="totm-manager path-list" style="list-style: none; padding: 0;">
      {{#each paths as |path index|}}
      <li class="totm-manager form-field {{#if (eq ../imgIndex index)}}active-image{{/if}}" draggable="true" data-index="{{index}}" style="display: flex; align-items: center; cursor: grab; margin-bottom: 10px;">
        <span class="totm-manager handle" style="cursor: move; margin-right: 5px;">&#9776;</span>
        <span class="path-field" data-index="{{index}}" data-img="{{path.img}}" style="flex-grow: 1; min-width: 175px; max-width: 350px; margin-right: 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 0 10px; border: 1px solid var(--color-border-light-tertiary); border-radius: 3px; display: inline-block; line-height: 25px; height: 25px; align-items: center;">
          {{path.displayImg}}
        </span>
        <img id="preview-img-{{index}}" src="{{path.img}}" style="display: none; position: absolute; right: 100%; width: auto; max-width: 300px; height: auto;" alt="Image preview">
        
        <input type="text" id="tags-input-{{index}}" name="tags{{index}}" value="{{path.tags}}" placeholder="Enter tags, comma-separated" class="tag-field" style="flex-grow: 1; min-width: 100px; max-width: none; margin-right: 10px; padding: 0 10px; height: 25px; line-height: 25px; display: inline-block; border: 1px solid var(--color-border-light-tertiary); border-radius: 3px;">
        <a class="totm-manager set-media-button" style="margin-right: 12px;" data-index="{{index}}"><i class="totm-manager fas fa-circle-play"></i></a>
        <button type="button" class="totm-manager set-media-button" style="display: none;"></button>
      </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No tile or image paths set.</p>
  {{/unless}}
</div>

<div class="totm-manager form-group" style="margin-top: 10px;">
  <button type="button" class="totm-manager save-paths" style="color: green">Save Changes</button>
</div>

<div class="totm-manager form-group" style="margin-top: 10px; display: flex; align-items: center; height: 3em;">
        <button type="button" class="totm-manager delete-all-paths"><i class="totm-manager fas fa-trash"></i> All</button>
  <button type="button" class="totm-manager delete-image"><i class="totm-manager fas fa-trash"></i></button>
  <select id="delete-image-dropdown" style="margin-left: 10px;">
    {{#each paths}}
    <option value="{{this.img}}" data-img="{{this.img}}">{{this.displayImg}}</option>
    {{/each}}
  </select>
  <img id="delete-image-preview" src="" alt="Image preview" style="height: 3em; object-fit: contain; width: auto; display: none; border: 1px solid #ccc; border-radius: 4px; margin-left: 10px;">
</div>

<div id="hr-dropdown-container" class="totm-manager form-group hr-dropdown-container" style="margin-top: 10px;">
  <label for="tile-dropdown">Select Tile:</label>
  <select id="tile-dropdown" class="totm-manager form-control"></select>
  <button type="button" class="totm-manager hide-reveal-tile">Hide/Reveal Tile</button>
</div>
